@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color: #202630;
    font-family: "Figtree", sans-serif;
}

header{
    background-color: #5B86E5;
}
    header div{
        width: 1100px;
        height: 104px;
        margin: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header div nav a{
        color: #fff;
        font-size: 20px;
        margin: 8px;
        text-decoration: none;/* quitar subrayado */
    }

/* hero banner */

#hero{
    height: 680px;
    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=37d2dc&c2=5b86e5&gt=l&gd=dbb
    */
    background: #37D2DC;
    background: linear-gradient(0deg, #37D2DC, #5B86E5);
}
    #hero div{
        width: 1100px;
        height: 680px;
        margin: auto;
        display: flex;
        align-items: center; /* Centrar en vertical el contenido del DIV */
        justify-content: space-between;
    }
        #hero div article{
            color: #fff;
        }
            #hero div article h1{
                font-weight: 400;
                font-size: 24px;
                margin-bottom: 40px;
            }
            #hero div article h2{
                font-size: 40px;
                width: 478px;
            }

/* main */
main{
    min-height: 500px;
}

/* sección servicios */
#servicios{
    width: 1100px;
    height: 414px;
    margin: auto;
    margin-top: 72px;
    padding: 32px 24px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* background-color: #cfeff264; */
}
    #servicios h2{
        width: 100%;
        text-align: center;
        font-weight: 400;
        margin-bottom: 32px;
    }
    #servicios article{
        width: 336px;
        height: 288px;
        padding: 24px 32px;
        font-weight: 300;
        color: #07B2FF;
        border: 2px solid #07B2FF;
        border-radius: 8px;
    }
        #servicios article h3{
            font-weight: 300;
            /*margin-top: 24px;
            margin-bottom: 16px;*/
            margin: 24px 0px 16px 0px;
        }
        #servicios article p{
            margin-bottom: 8px;
        }
        #servicios article a{
            text-decoration: none;
            color: #07B2FF;
        }


/* footer */
footer{
    margin-top: 72px;
    background-color: #0B1E46;
}
    footer div{
        height: 216px;
        width: 1100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #logofooter{
        width: 92px;
    }
    footer div nav a{
        margin: 16px;
    }

