@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: #1e1818;
    color: #f3e3e2;
    font-family: "Open Sans", sans-serif;
}

section{
    background-color: #282222;
    height: 300px;
    width: 648px;
    margin: auto;
}
    article{
        background-color: #f3e3e2;
        height: 64px;
        width: 64px;
        margin: 16px;
    }
    #rosa{
        background-color: #d8a2a1;
        margin-left: 80px;
    }
    #verde{
        background-color: #79bb5b;
        /* centrar en horizontal un contenedor */
        margin: auto;
    }